#contenedor {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.negrita {
    font-weight: bold;
}

.gris {
    color: #a0a0a0;
}

.mayusculas {
    font-size: 13px;
    color: #a0a0a0;
}

.iconos {
    width: 20px;
    height: 20px;
}
.nombre{
    display: flex;
    align-items: start;
}
.nombre img{
    width: 65;
    height: 65;
    margin-top: 10px;
}
.nombre img + p{
    margin-left: 15px;
}
.comentario{
    margin-left: 80px;
    margin-top: -45px;
}
.reacciones{
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: -20px;
}
.respuestas{
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: -20px;
}
.respuestas img{
    width: 15px;
    height: 15px;
}