body{
    background-color: tan;
    background-image: url(panda.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    margin-right: 300px;
    background-size: 300px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}